.main__card, .details {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
}

.main__btn, .search-form__submit {
  cursor: pointer;
  padding: 10px;
  background-color: inherit;
  border: 2px solid #fff;
  border-radius: 9px;
  font-size: 1.3rem;
  color: #fff;
}

.main__btn:hover, .search-form__submit:hover {
  border: 2px solid #000;
  color: #000;
}

button:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.header {
  margin-bottom: 40px;
  text-align: center;
}

.header__heading {
  font-weight: 900;
  color: #dfdfdf;
  font-size: 3rem;
}

.pagination {
  margin: 40px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 160px;
}

.pagination__btn {
  background-color: inherit;
  border: 0;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
}

.pagination__btn:hover {
  color: #000;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.main__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (247px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 247px);
  grid-gap: 30px;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.main__btn {
  margin-bottom: 40px;
}

.main__card {
  color: #fff;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: 2px solid #fff;
  position: relative;
}

.main__card:hover .main__card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__card-inner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__card-circle {
  background-color: #e6e6e6;
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
}

.main__card-img {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-bottom: -12px;
}

.main__card-icon {
  width: 30px;
  top: 8px;
  right: 8px;
  position: absolute;
}

.main__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
}

.main__card-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__card-btn-link {
  padding: 9px 20px;
  min-width: 140px;
  text-align: center;
  background-color: #fff;
  color: #3083be;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.main__card-btn-link:hover {
  background-color: #3083be;
  color: #fff;
}

.error {
  font-weight: 600;
  font-size: 1.2rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.preloader {
  width: 120px;
  -webkit-animation: rotation 3s infinite linear;
          animation: rotation 3s infinite linear;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 190px;
  margin: 0 auto;
  font-size: 1.3rem;
  list-style: none;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.nav__link:hover {
  color: #000;
  text-decoration: underline;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 466px;
  margin: 0 auto 10px;
}

.search-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
  padding: 10px;
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
}

.search-form__input::-webkit-input-placeholder {
  color: #d3d2d2;
}

.search-form__input:-ms-input-placeholder {
  color: #d3d2d2;
}

.search-form__input::-ms-input-placeholder {
  color: #d3d2d2;
}

.search-form__input::placeholder {
  color: #d3d2d2;
}

.details {
  border-radius: 30px;
  border: 5px solid #fff;
  color: #000;
  background-color: #dfdfdf;
  font-size: 1.3rem;
  min-height: 500px;
  position: relative;
}

.details__header {
  padding: 7px;
  text-align: right;
  border-radius: 25px 25px 0 0;
  min-height: 70px;
}

.details__header-icon {
  margin: 4px 5px;
}

.details__arrow {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.details__arrow:hover {
  color: #000;
}

.details .fa-caret-left {
  left: -65px;
}

.details .fa-caret-right {
  right: -65px;
}

.details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 15px 0;
}

.details__title {
  text-decoration: underline;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.details__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 475px;
}

.details__info table {
  border-collapse: collapse;
  text-align: start;
}

.details__info td, .details__info th {
  padding: 4px 10px;
}

.details__info tr td:first-child {
  border-right: 2px solid;
}

.details__info td {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.details__abilities span {
  font-weight: 600;
}

.details__abilities-list {
  list-style: square;
  margin-bottom: 30px;
}

@-webkit-keyframes rotation {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotation {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */